.signIn input {
    width: 90%;
    height: 15px;
    /* border-radius: 5px; */
    padding: 10px;
    /* border: 1px solid #ccc; */
    outline: none;
    /* box-sizing: border-box; */
    margin: 10px auto;
    direction: rtl;
}
.captcha_view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width:95%;
}
.captcha_view input{
    width:70%
}
.captcha_view img{
    width:42px;
    height: 42px;
    margin: 5px;
}
.captcha_view p{
    font-size: 15px;
    text-align: center;
    color: #000;
    direction: ltr;

}
.signIn {
    margin-top: 1%;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 40px;
    border-radius: 5px;
}
.signIn .titr span{
    background:#F5F5F5 0% 0% repeat padding-box;
    position: relative;
    display: flex;
    margin: 10px 0;
}
.signIn .titr h5{
    font-size: 17px;
    color: #212121;;
    font-weight: bold;
    margin-top: -14px;
    width: 100%;
    padding: 0 15px;
}
.signIn .titr div{
    width:max-content;
    margin:5% auto 2%
}
.error {
    font-size: 18px;
    direction: rtl;
    color:red;
}
.signIn .titr h5 {
    font-size: 26px;
    color: #212121;
    font-weight: bold;
    margin-top: -14px;
    width: 100%;
    padding: 0 15px;
}
.signInForm {
    display: flex;
}
.userForm {
    width: 100% !important;
    height: 100% !important;
}
.signInForm Button {
    width: 99%;
    margin: 5px 0 !important;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
}
.login-more {
    color: #212121;
    font-size: 14px;
}
.login-more a {
    color: #212121 !important;
    float: left;
    font-weight: bold;
    text-decoration: underline !important;
    font-size: 12px;
}
.login-more a:hover{
    text-decoration: none;
}
.login-more {
    color: #212121;
    font-size: 14px;
    width: 95%;
    margin: 0px auto;
    direction: rtl !important;
    height: 25px;
}
.login-more .form-check.form-check-inline {
    margin: 0;
    flex-direction: row;
    float: right;
}
.login-more #inline-checkbox {
    width: auto;
    height: auto;
    margin: 0px 2px;
}
.login-more .form-check-label{
    font-size: 11px;
}
.signIn .Button. register{
    margin-top: 25% !important;
}
.signIn [class*="MuiFormControl-root"] {
    margin-bottom: 12px !important;
}
[class*="MuiFormControl-root"] {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
[class*="MuiFormControl-root"] {
    width: 95%;
}
[class*="MuiOutlinedInput-root"] {
    position: relative;
    border-radius: 0 !important;
}
.signIn .titr {
    margin: 5% 0 0;
}
.signIn .error {
    margin-bottom: 20px !important;
}
.signInForm .col-12 {
    padding: 0 !important;
}
.loginSpinner {
    height: 40px;
    margin-top: 50px;
}
.welcomeMessage {
    color: #212121;
    direction: rtl;
    font-size: 20px;
    margin-top: 25px;
}
.loadingDots{
    color: #777;
    text-align: center;
}
.successLogin {
    margin-top: 20px;
}
.signIn .loadingDots:before {
    content: ' . ';
    animation: dots 1s steps(5, end) infinite;
    padding-right: 5px;
    font-size: 20px;
}
.titr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@keyframes dots {
    0%, 20% {
        color: rgba(255,255,255,0);
        text-shadow:
                .25em 0 0 rgba(255,255,255,0),
                .5em 0 0 rgba(255,255,255,0);}
    40% {
        color: #777;
        text-shadow:
                .25em 0 0 rgba(255,255,255,0),
                .5em 0 0 rgba(255,255,255,0);}
    60% {
        text-shadow:
                .25em 0 0 #777,
                .5em 0 0 rgba(255,255,255,0);}
    100%, 80% {
        text-shadow:
                .25em 0 0 #777,
                .5em 0 0 #777;}}

@media only screen and (max-width: 800px) {
    .Modal {
        width: 100vw;
        left: 0;
    }
    .signIn .titr {
        margin: 0% 0 8% !important;
    }
}

