.footer{
    padding-bottom: 2%;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.9;
}
.copyRight{
    height: 55px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
}

.footer p{
    float: right;
    text-align: justify;
    direction: rtl;
    margin-top: 15px;
    font-size: 10pt;
    color: #747474;
    line-height: 2;
    padding: 0;
}

.footer-sec {
    margin-top: 5%;
}
.copyRightTxt {
    text-align: right;
    float: right;
    color: #2F2F2F;
    padding-top: 2%;
    font-size: 8pt;
}
.copyRightTxt {
    text-align: left;
    float: left;
    color: #999;
    padding-top: 2%;
    font-size: 14px;
}
.copyRight div{
    height: 55px;
}
.footer-section{
    margin: 0 auto;
    padding: 0!important;
}
.copyRight-sec {
    padding: 0;
}
footer{
    padding: 0!important;
}
